<h1>Welcome to guru homepage</h1>
<p>about guru. our guru is</p>



<%= link_to 'Available Pujas', controller: 'pujas' %>

<%= link_to 'Add New pictures', controller: 'pictures' %>
<!-- would be an admin only function -->
