
<p>
  <strong>Name:</strong>
  <%= @puja.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @puja.description %>
</p>

<p>
  <strong>Benefit:</strong>
  <%= @puja.benefit %>
</p>

<p>
  <strong>Suggested_offering:</strong>
  <%= @puja.suggested_offering %>
</p>
